/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #dad6d6; 
    background-image: url('header-compress.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

/* Navbar */
.navbar {
    background-color: #323e4b; 
    padding: 15px; 
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.navbar a {
    color: rgb(86, 35, 35);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}
.custom-navbar {
    background-color: #12da19;
    color: rgb(192, 50, 50);
}


.navbar-nav .nav-link {
    color: #3f919c;
    font-size: 18px; 
    margin-right: 15px; 
    transition: color 0.3s ease-in-out;
}


.navbar-nav .nav-link:hover {
    color: #00ffae; 
    text-decoration: underline; 
}


.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #00c6a7;
}


.navbar .btn-outline-light {
    font-size: 16px;
    border-radius: 20px; 
    border-color: #e0f7fa;
    color: #e0f7fa;
    transition: background-color 0.3s ease-in-out, color 0.3s;
}

.navbar .btn-outline-light:hover {
    background-color: #00c6a7;
    color: #606264;
}


.navbar .form-control {
    font-size: 16px;
    background-color: #2e3e42; 
    color: #fff; 
    border: none;
}


.offcanvas {
    background-color: #2f4449; 
    color: #fff;
}


.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 25px;
    padding: 40px 20px; 
    margin-top: 80px; 
}


section {
    background-color: rgba(5, 5, 5, 0.7); 
    padding: 20px;
    text-align: center;
    color: rgb(238, 233, 233); 
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}


section:hover {
    background-color: rgba(10, 10, 10, 0.9);
    transform: scale(1.02); 
}


section img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}


#today {
    background-color: rgba(41, 37, 37, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    width: 90%;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;}


.metric {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

/* Footer */
footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    font-size: 14px;
}

/* Weather Icon */
.weather-icon {
    width: 80px;
    height: 80px;
}


.temperature {
    font-size: 2.5rem;
    font-weight: bold;
}


html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > .content {
    flex: 1; 
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }

    section {
        padding: 10px;
    }

    .navbar-nav .nav-link {
        font-size: 16px; 
    }

    .temperature {
        font-size: 2rem; /* Adjust temperature font size for mobile */
    }
}
